<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="ru.7kt.app"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="lifeCycleURI"
               value="bundleclass://ru.7kt.app/ru.sevenkt.app.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/ru.7kt.app/css/default.css">
         </property>
         <property
               name="appName"
               value="ru.7kt.app">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ru.sevenkt.app.ui.MeasuringView"
            id="ru.sevenkt.app.ui.MeasuringView"
            name="New ViewPart">
      </view>
   </extension>

</plugin>
